.App {
  height: 600px;
  background-color: rgba(0, 0, 0, 0.829);
  /* background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fil8.picdn.net%2Fshutterstock%2Fvideos%2F12107300%2Fthumb%2F1.jpg&f=1&nofb=1') */
}

@media screen and (min-width: 1024px) {
  .App {
    height: 1000px;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .App {
    height: 812px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .App {
    height: 812px;
  }
}
